/* Styles Per Pairin Style Guide */
:root {
    --text-color: #595959;
    --light-blue: #207C9D;
    --dark-blue: #004A5E;
    --yellow: #F0BD1D;
    --green: #66CC66;
    --red: #AC0817;
    --background: #f5f5f2;
    --user-list: #ECECE5;
}
body{
    background: var(--background);
    color: var(--text-color);
    font-size: 14px;
    font-family: Lato;
}

/* User List Styles */
#user-table-container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
#user-table th {
    font-size: 14px;
}
#user-table thead tr {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 15px 5px 15px;
}
.user-list-item {
    display: inline-block;
    background: var(--user-list);
    padding: 15px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}
.user-name,
.user-email {
    text-align: left;
    float: left;
}
.user-survey-date,
.user-view {
    float: right;
}
.user-name {
    width: 150px;
    font-size: 16px;
}
.user-email {
    font-weight: 300;
}
th.user-email {
    font-weight: 700;
}
th.user-survey-date {
    margin-right: 160px;
}
/* I want to use the given assets, so I'm going to use CSS to create a sort toggle
 with two icons rather than creating one icon or bringing FontAwesome into this. */
.sort-toggle {
    display: inline-block;
    padding-left: 7px;
    margin-bottom: -4px;
}
.sort-toggle img {
    width: 10px;
    height: 10px;
    display: block;
    pointer-events: none;
}
.sort-toggle img:nth-of-type(2) {
    margin-top: -2px;
}
